{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>welcome</h1>
        <img src="{% static 'images/hd1.jpg' %}" alt="">
        <p>Harley-Davidson bike price starts from Rs. 11.99 Lakh for Iron 883 and goes upto Rs. 36.99 Lakh for Road Glide Special. Harley-Davidson manufactures eleven bikes which are Petrol powered. Harley-Davidson Iron 883 is one of the top Cruiser bikes in India . The company has also plans to launch several upcoming bikes such as LiveWire S2 Del Mar and EDT600R Electric Bike, Sportster 500.</p>
    </center>
</body>
</html>